/* CSS */

html, body{
	width: 100%; height: 100%;
}

.navbar-brand img{
	width: 28px; height: auto;
	margin: 0px 5px; padding: 0px;
	border-radius: 14px;
}

#logo-html{
	width: 100%; height: 225px;
	background-image: url("../images/logo_html.png");
	background-position: center;
}

#logo-css{
	width: 100%; height: 225px;
	background-image: url("../images/logo_css.png");
	background-position: center;
}

#logo-javascript{
	width: 100%; height: 225px;
	background-image: url("../images/logo_javascript.png");
	background-position: center;
}

#logo-jquery{
	width: 100%; height: 225px;
	background-image: url("../images/logo_jquery.png");
	background-position: center;
}

#logo-bootstrap{
	width: 100%; height: 225px;
	background-image: url("../images/logo_bootstrap.png");
	background-position: center;
}

#logo-vue{
	width: 100%; height: 225px;
	background-image: url("../images/logo_vue.png");
	background-position: center;
}

.card-half {
	height: 500px; /* 必要に応じて高さを調整 */
	overflow: hidden;
  }
  
  .card-half-img {
	height: 50%;
	width: 100%;
	object-fit: cover;
  }
  
  .card-half-body {
	height: 50%;
	padding: 1rem;
	overflow: hidden;
  }